.tasks-list,
.completed-tasks-list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.completed-tasks-list {
	gap: 15px;
}

.task-item {
	border: 1px solid #e0e0e0;
	border-radius: 8px;
	padding: 20px 15px;
	background: #fff;
	position: relative;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	transition: box-shadow 0.3s ease;

	&:hover {
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
	}
}

.task-header {
	display: grid;
	grid-template-columns: 20px 1fr 65px;
	gap: 0 10px;
}

.importance-circle {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin-right: 10px;
	cursor: pointer;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 12px;
	svg {
		transition: all 0.2s;
		opacity: 0;
	}
	&:hover {
		svg {
			opacity: 1;
		}
	}
}

.menu-trigger {
	font-size: 18px;
	padding: 0 5px;
	transition: color 0.2s ease;
	text-align-last: left;
	margin: 0 0 0 auto;
	img {
		cursor: pointer;
	}
	img:nth-child(2) {
		margin-left: 15px;
	}
}

.task-menu {
	position: absolute;
	top: 100%;
	right: 0;
	background: #fff;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	z-index: 1000;
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding: 10px;

	button {
		background: none;
		border: none;
		cursor: pointer;
		display: flex;
		align-items: center;
		padding: 5px 10px;
		gap: 5px;
		font-size: 14px;

		&:hover {
			background: #f5f5f5;
		}
	}

	.importance-circle {
		width: 10px;
		height: 10px;
	}
}

.task-description {
	color: #666;
	font-size: 14px;
	margin: 5px 0 0 30px;
}

.task-labels {
	margin: 10px 0 0 30px;
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	p {
		background-color: #F0F0F0;
		padding: 8px;
		border-radius: 8px;
		font-size: 14px;
	}
}

.task-time {
	margin: 10px 0 0 30px;
	display: flex;
	gap: 5px;
	p {
		color: green;
		font-size: 14px;
		font-weight: 600;
	}
}

.task-item.completed {
	display: flex;
	flex-direction: column;

	&.completed {
		opacity: 0.7; /* уменьшаем яркость для завершённых задач */
	}

	.task-header {
		grid-template-columns: auto 1fr;
		text-decoration: line-through; /* зачёркивание текста для завершённых задач */
	}

	.importance-circle {
		width: 15px;
		height: 15px;
		border-radius: 50%;
		border: 2px solid #cdcdcd;
		margin-right: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		display: none;
		opacity: 0;
	}

	.task-description {
		color: #555;
		margin-left: 0px;
		text-decoration: line-through; /* зачёркивание текста для завершённых задач */
		font-size: 16px;
	}

	.task-labels {
		text-decoration: none;
		margin: 10px 0 0 0;
		p {
			background-color: rgb(219, 219, 219);
		}
	}

	.task-time {
		margin: 10px 0 0 0;
	}
}

.completed-tasks-list {
	.task-item {
		background-color: #f0f0f0; /* светлый фон для завершённых задач в списке */
		border-left: 5px solid #5390f5; /* синий бордер для завершённых задач */
	}
}