.menu {
	position: relative;

	li a {
		display: flex;
		align-items: center;
		gap: 6px;
	}

	#menuToggle {
		display: block;
		position: fixed;
		top: 50px;
		left: 50px;
		z-index: 1;
		-webkit-user-select: none;
		user-select: none;
	}

	#menuToggle a,
	#menuToggle a svg path,
	#menuToggle li .languages__item,
	#menuToggle li .languages__item svg path {
		text-decoration: none;
		color: #232323;
		fill: #232323;
		transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
		transition: all 0.3s;
	}

	#menuToggle a:hover,
	#menuToggle a:hover svg path,
	#menuToggle li .languages__item:hover {
		color: tomato;
		fill: tomato;
	}

	#menuToggle input {
		display: block;
		width: 40px;
		height: 32px;
		position: absolute;
		top: -7px;
		left: -5px;
		cursor: pointer;
		opacity: 0;
		z-index: 2;
		-webkit-touch-callout: none;
	}

	#menuToggle span {
		display: block;
		width: 33px;
		height: 4px;
		margin-bottom: 5px;
		position: relative;
		background: #cdcdcd;
		border-radius: 3px;
		z-index: 1;
		transform-origin: 4px 0px;
		transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
			background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
	}

	#menuToggle span:nth-last-child(2) {
		transform-origin: 0% 100%;
	}

	#menuToggle input.active {
		left: 120px;
	}

	#menuToggle input.active ~ span {
		opacity: 1;
		background: #232323;
		transform: translateX(120px);
	}

	#menu {
		position: absolute;
		max-width: 250px;
		width: 100vw;
		max-height: 100vh;
		min-height: calc(100vh + 100px);
		margin: -100px 0 0 -50px;
		padding: 150px 0 100px 40px;
		box-sizing: border-box;
		overflow-y: auto;
		background: #ededed;
		list-style-type: none;
		-webkit-font-smoothing: antialiased;
		transform-origin: 0% 0%;
		transform: translate(-100%, 0);
		transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
		text-align: left;
	}

	#menu li {
		padding: 10px 0;
		font-size: 20px;
	}

	#menu li label {
		cursor: pointer;
	}

	#menuToggle input.active ~ ul {
		transform: none;
	}

	#menuToggle .languages {
		&__items {
			margin: 20px 0 0 20px;
			display: flex;
			flex-direction: column;
			gap: 0px;
			max-height: 0;
			opacity: 0;
			transition: all 0.7s;
		}

		&__item {
			cursor: pointer;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 7.5px;

			span {
				background: transparent;
				width: 100%;
				height: 20px;
			}
		}

		&.active {
			.languages__items {
				opacity: 1;
				max-height: 195px;
				gap: 15px;
			}

			.languages__item {
			}
		}
	}
}

.mode__container {
	margin: 50px 20px 0 0;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	left: -5px;
}

.mode {
	position: relative;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: black;
	cursor: pointer;
	text-align: center;
}

.mode:before {
	content: "";
	position: absolute;
	top: 10px;
	left: 10px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-image: linear-gradient(to right, white 50%, black 50.01%);
	border: 2px solid white;
	transition: transform 0.5s ease-out;
	box-sizing: border-box;
}

.mode:after {
	content: "";
	position: absolute;
	top: 19px;
	left: 19px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: white;
	mix-blend-mode: difference;
	box-sizing: border-box;
}

.mode div {
	position: absolute;
	bottom: -44px;
	width: 76px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 14px;
	font-weight: 500;
	color: white;
	line-height: 18px;
	pointer-events: none;
}

.mode div:after {
	content: "Off";
	font-weight: 400;
}

body.dark .mode {
	background: white;
}

body.dark .mode:before {
	border: 2px solid black;
	transform: rotate(180deg);
}

body.dark .mode div:after {
	content: "On";
}

.mode.scaling:after {
	animation: scaleInner 0.5s ease forwards;
}

@keyframes scaleInner {
	50% {
		transform: scale(1.8);
	}
}
