.App {
	#menuToggle,
	.tasks,
	.done-tasks,
	.filter,
	.labels,
	.title,
	.current-date,
	.divider,
	.search .icon,
	.search input,
	.count-tasks,
	.task-item,
	.task-view,
	.task-header,
	.task-header .task-name,
	.task-description,
	.importance-circle,
	.task-labels p,
	.add-task,
	.add-task__form,
	.add-task__form__input,
	.add-task__form__textarea,
	.edit-task,
	.edit-task__form,
	.edit-task__form__input,
	.edit-task__form__textarea,
	.dropdown-item,
	.time input,
	.input-label,
	.checkboxes__item svg path,
	.importance svg path,
	.importance span,
	.importance .toggle-icon .task-count,
	.importance .toggle-icon svg path,
	.labels__element,
	.label__name svg path,
	.label__name span,
	.label__name .toggle-icon .task-count,
	.label__name .toggle-icon svg path {
		transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
	}

	.container {
		max-width: 1200px;
		width: 100%;
		height: 100vh;
		margin: 0 auto;
		overflow-y: auto;
		padding: 20px 20px 80px 110px;
		transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
			padding-left 0.5s ease;

		&.menu-active {
			padding-left: 200px;
		}
	}

	.title {
		font-size: 35px;
		margin-bottom: 0;
	}

	.divider {
		background-color: rgba(0, 0, 0, 0.1);
		height: 1px;
		border: none;
		margin: 20px 0;
	}

	.count-tasks {
		display: flex;
		align-items: center;
		gap: 5px;
		margin: 15px 0 30px 0;
		color: grey;
		fill: grey;
	}

	.custom-select {
		cursor: pointer;
		.selected-option {
			display: flex;
			align-items: center;
			gap: 5px;
		}
		.dropdown-list {
			display: flex;
			list-style: none;
			background-color: #fff;
			border: 1px solid rgba(0, 0, 0, 0.1);
			border-radius: 8px;
			margin: 20px 0 0 0;
			max-width: 444px;
			.dropdown-item {
				display: flex;
				align-items: center;
				gap: 5px;
				padding: 10px 20px;
				transition: all 0.2s;
				&:hover {
					background-color: rgba(0, 0, 0, 0.1);
				}

				&:nth-child(1):hover {
					border-radius: 7px 0 0 7px;
				}

				&:nth-child(4):hover {
					border-radius: 0 7px 7px 0;
				}
			}
		}
	}
}

@media (max-width: 1370px) {
	.App {
		.container {
			&.menu-active {
				padding-left: 300px;
			}
		}
	}
}

@media (max-width: 840px) {
	.App {
		.container {
			padding: 70px 30px 80px 30px;
			// transition: all 0.5s;
			&.menu-active {
				padding-left: 30px;
				opacity: 0.5;
				overflow: hidden;
			}
		}

		.menu {
			#menuToggle {
				top: 0px;
				left: 0px;
				height: 70px;
				width: 100%;
				background-color: #f8f9fd;
				padding: 20px 15px;
				#menuCheckbox {
					top: 25px;
					left: calc(100% - 50px);
					&.active {
						& ~ span {
							transform: translateX(0px);
						}
					}
				}
				span {
					margin: 5px 0 5px auto;
				}
			}
			#menu {
				right: calc(0%);
				transform: translate(100%, 0);
				width: 220px;
				padding-left: 30px;
			}
		}
	}
}

@media (max-width: 550px) {
	.App {
		.add-task,
		.edit-task {
			&__form__importance {
				.custom-select {
					.dropdown-list {
						flex-direction: column;
						.dropdown-item {
							&:nth-child(1) {
								border-radius: 7px 7px 0 0;
							}
							&:nth-child(4) {
								border-radius: 0 0 7px 7px;
							}
						}
					}
				}
			}
		}
	}
}

body.dark {
	#menu {
		background-color: #1e1e1e;
		li a {
			color: white;
			svg path {
				fill: white;
			}
		}
	}

	#menuToggle {
		background-color: #202020 !important;
	}

	#menuToggle input.active ~ span {
		background-color: #fff;
	}

	.tasks,
	.done-tasks,
	.filter,
	.labels {
		background-color: rgba(0, 0, 0, 0.9);
	}

	.task-item,
	.icon,
	.container__input input {
		border-color: #2f2f2f;
	}

	.task-item,
	.container__input input {
		background-color: #1e1e1e;
	}

	.task-header {
		text-decoration-color: white !important;
	}

	.task-name {
		color: white;
	}

	.task-description {
		color: #a0a0a0;
	}

	.task-labels p {
		background-color: #2f2f2f !important;
		color: #cfcfcf;
	}

	.title,
	.current-date {
		color: white;
	}

	.divider {
		background-color: rgba(255, 255, 255, 0.3);
	}

	.time {
		input {
			color: white;
		}
	}

	.dropdown-list {
		background-color: #373737 !important;
	}

	.checkboxes__item,
	.create-label {
		svg path {
			fill: white;
		}

		&:hover {
			background-color: #3b3b3b !important;
		}
	}
	.input-label {
		background-color: #1e1e1e;
		border-color: #2f2f2f;
		color: white;
	}

	.add-task__form,
	.edit-task__form,
	.add-task__form__input,
	.edit-task__form__input,
	.add-task__form__textarea,
	.edit-task__form__textarea {
		background-color: #1e1e1e;
		color: white;
	}

	.add-task__form__labels__input__checkboxes,
	.edit-task__form__labels__input__checkboxes {
		border-color: #2f2f2f;
	}

	.importance {
		span {
			color: white;
		}

		svg path {
			fill: white;
		}
	}

	.labels__element {
		background-color: #1e1e1e;
		.label__name span {
			color: white;
		}

		.label__name svg path {
			fill: white;
		}
	}

	.MuiPickersLayout-root {
		background-color: #191919;
		color: white;
		.MuiButtonBase-root {
			color: white;
		}
	}

	// For mobile
	.MuiPickersLayout-root {
		* {
			color: white !important;
		}
	}
}
