.App {
	.container {
		max-width: 1200px;
		width: 100%;
		margin: 0 auto;
		padding: 20px 20px 20px 100px;
		transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), padding-left 0.5s ease;
	}

	.title {
		font-size: 35px;
	}

	.divider {
		background-color: rgba(0, 0, 0, 0.1);
		height: 1px;
		border: none;
		margin: 10px 0;
	}

	
	.container.menu-active {
		padding-left: 220px; /* Увеличение отступа слева */
	}
}
