.add-task__form__labels {
	margin: 20px 0 20px 3px;
	display: flex;
	flex-direction: column;
	gap: 15px;

	.input-and-labels__wrapper {
		max-width: 300px;
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: 8px;
		padding: 10px;

		.input-label {
			width: 100%;
			border: 1px solid rgba(0, 0, 0, 0.2);
			border-radius: 5px;
			padding: 5px 10px;
			outline: none;
		}

		.divider {
			margin: 15px 0;
		}

		.labels__undefined {
			color: gray;
			font-size: 14px;
		}

		.labels__wrapper {
			padding-left: 3px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 5px;

			.labels__item {
				display: flex;
				align-items: center;
				gap: 5px;
                cursor: pointer;
				position: relative;
				// .labels__item__input {
				// 	position: absolute;
				// 	top: 0;
				// 	left: 0;
				// 	text-align: left;
				// 	display: block;
				// }
			}
		}

		.create-label {
			cursor: pointer;
			position: relative;
			padding: 5px 0;
			margin: 5px 0;
			border-radius: 5px;
			display: flex;
			gap: 5px;
			span {
				position: relative;
				width: 20px;
				height: 20px;
				border-radius: 100%;
				background-color: transparent;

				&::before,
				&::after {
					content: "";
					position: absolute;
					top: 50%;
					left: 50%;
					width: 12.5px;
					height: 2px;
					background-color: grey;
					transform: translate(-50%, -50%);
				}

				&::after {
					transform: translate(-50%, -50%) rotate(90deg);
				}
			}

			&:hover {
				background-color: #f0f0f0;
			}
		}
	}
}
