.edit-task__form__labels {
	margin: 20px 0 20px 3px;
	display: flex;
	flex-direction: column;
	gap: 15px;

	&__input__checkboxes {
		max-width: 300px;
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: 8px;
		padding: 10px;

		.input-label {
			width: 100%;
			border: 1px solid rgba(0, 0, 0, 0.2);
			border-radius: 5px;
			padding: 5px 10px;
			outline: none;
		}

		.divider {
			margin: 15px 0;
		}

		.labels__undefined {
			color: gray;
			font-size: 14px;
		}

		.checkboxes__wrapper {
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 5px;

			.checkboxes__item {
				cursor: pointer;
				position: relative;
				height: 30px;
				padding: 0 15px 0 10px;
				border-radius: 5px;
				display: grid;
				grid-template-columns: 15px auto 15px;
				align-items: center;
				gap: 5px;
				&:hover {
					background-color: #f3f3f3; // Цвет фона при наведении
				}
				.input__checkbox {
					display: none; // Скрываем стандартный чекбокс
				}

				.custom-checkbox {
					position: relative;
					width: 20px;
					height: 20px;
					border: 2px solid #ccc;
					border-radius: 4px;
					transition: all 0.3s;
				}

				.custom-checkbox::after {
					content: "";
					position: absolute;
					top: 50%;
					left: 50%;
					width: 12px;
					height: 12px;
					background-color: tomato; // Цвет галочки
					border-radius: 2px;
					transform: translate(-50%, -50%) scale(0); // Изначально скрыта
					transition: transform 0.3s;
				}

				.input__checkbox:checked + .custom-checkbox {
					border-color: tomato; // Цвет рамки при выборе
				}

				.input__checkbox:checked + .custom-checkbox::after {
					transform: translate(-50%, -50%) scale(1); // Появление галочки
				}
			}
		}

		.create-label {
			cursor: pointer;
			position: relative;
			padding: 5px 0;
			margin: 5px 0;
			border-radius: 5px;
			display: grid;
			grid-template-columns: 20px 1fr;
			gap: 5px;
			span {
				position: relative;
				width: 20px;
				height: 20px;
				border-radius: 100%;
				background-color: transparent;

				&::before,
				&::after {
					content: "";
					position: absolute;
					top: 50%;
					left: 50%;
					width: 12.5px;
					height: 2px;
					background-color: grey;
					transform: translate(-50%, -50%);
				}

				&::after {
					transform: translate(-50%, -50%) rotate(90deg);
				}
			}

			&:hover {
				background-color: #f0f0f0;
			}
		}
	}
}
