.filtered {
	.importance {
		display: grid;
		align-items: center;
		grid-template-columns: 30px auto 1fr;
		padding: 15px 0;
		cursor: pointer;
		span {
			font-size: 25px;
		}
	}

	.filtered-task {
		max-height: 0;
		overflow: hidden;
		overflow-y: auto;
		transition: max-height 0.5s ease;
		padding: 0;
		.no-task {
			color: grey;
			padding: 0px 0px 20px 30px;
		}
	}

	.toggle-icon {
		margin-left: auto;
		display: flex;
		align-items: center;
		width: 60px;
		justify-content: space-around;
	}

	.tasks-list {
		margin: 0px 10px 20px 10px;
		padding: 0 0 20px 0;
		border-radius: 8px;
		padding: 0;
	}

	.edit-task__form__labels__input__checkboxes {
		hr.divider {
			margin: 20px 0;
		}
	}

	hr.divider {
		margin: 0;
	}


	span.task-count {
		font-size: 18px;
		color: grey;
	}
}
