.time {
	position: relative;
	height: 30px;
	margin: 20px 0 30px 0 !important;
	display: flex;
	align-items: center;

	input {
		outline: none !important;
		font-size: 16px;
	}

	&:hover,
	&:focus {
		* {
			color: rgba(0, 0, 0, 1);
		}
	}

	.clock {
		position: absolute;
		fill: tomato;
	}

	// 	// #F5F5F5

	.MuiOutlinedInput-root {
		gap: 3px;

		& > input:nth-of-type(1) {
			order: 1;
		}
	}

	.MuiInputBase-root {
		position: relative;
		left: -3px;
	}

	// 	// input time
	.MuiInputBase-input {
		padding: 0;
	}

	.MuiOutlinedInput-notchedOutline {
		border: none !important;
	}

	// 	// container of the time button
	.MuiInputAdornment-root {
		margin: 0;
		button {
			padding: 3px;
			margin: 0px;
			svg {
				opacity: 0;
				width: 20px;
				height: 20px;
				fill: tomato;
			}
		}
	}

	@media (hover: none) and (pointer: coarse) {
		.MuiInputBase-root {
			position: relative;
			left: 25px;
		}
	}
}
