.add-task {
	margin-top: 30px;
	&__button {
		cursor: pointer;
		display: flex;
		align-items: center;
		gap: 15px;

		&:hover {
			span {
				background-color: tomato;

				&::before,
				&::after {
					background-color: #fff;
				}
			}

			p {
				color: tomato;
			}
		}

		span {
			position: relative;
			width: 20px;
			height: 20px;
			border-radius: 100%;
			background-color: transparent;

			&::before,
			&::after {
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				width: 12.5px;
				height: 2px;
				background-color: tomato;
				transform: translate(-50%, -50%);
			}

			&::after {
				transform: translate(-50%, -50%) rotate(90deg);
			}
		}

		p {
			color: grey;
			font-size: 16px;
			font-weight: 500;
		}
	}

	&__form {
		display: flex;
		flex-direction: column;
		// gap: 15px;
		background-color: transparent;
		padding: 20px;
		border-radius: 8px;
        border: 1px solid rgba(0, 0, 0, 0.1);
		// box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

		&__input,
		&__textarea {
			width: 100%;
			padding: 10px;
			border: 1px solid #f0f0f0;
			border-radius: 6px;
			font-size: 14px;
			color: #333;
            outline: none;
		}

        &__input::placeholder {
            font-weight: 900;
        }

		&__textarea {
            padding: 10px;
            resize: none;
            overflow-y: hidden;
            transition: height 0.2s ease;
		}

		&__importance {
			display: flex;
			align-items: center;

			&__select {
				width: 100%;
				padding: 10px;
				border: 1px solid #ddd;
				border-radius: 6px;
				background-color: #f9f9f9;
				font-size: 14px;
				color: #333;
				cursor: pointer;

				&:hover {
					background-color: #f0f0f0;
				}
			}
		}

		&__buttons {
			display: flex;
			justify-content: flex-end;
			gap: 10px;

			&__cancel {
				padding: 8px 16px;
				background-color: #f9f9f9;
				border: 1px solid #ddd;
				border-radius: 6px;
				font-size: 14px;
				cursor: pointer;
				transition: background-color 0.3s;

				&:hover {
					background-color: #f0f0f0;
				}
			}

			&__add {
				padding: 8px 16px;
				background-color: tomato;
				color: #fff;
				border: none;
				border-radius: 6px;
				font-size: 14px;
				cursor: pointer;
				transition: background-color 0.3s;

				&:hover {
					background-color: #e65a5a;
				}
			}
		}
        
	}
}
